# Regiment

### Introduction:

Special thanks to: http://chrisalbon.com/ for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd 
import numpy as np

### Step 2. Create the DataFrame with the following values:

In [2]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}

### Step 3. Assign it to a variable called regiment.
#### Don't forget to name each column

In [3]:
df = pd.DataFrame(raw_data,columns=['regiment','company','name','preTestScore','postTestScore'])
df.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

In [14]:
df.name.unique()

array(['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner',
       'Sone', 'Sloan', 'Piger', 'Riani'], dtype=object)

### Step 4. What is the mean preTestScore from the regiment Nighthawks?

In [6]:
print(df[df.regiment == 'Nighthawks'].preTestScore.mean())

15.25

### Step 5. Present general statistics by company

In [9]:
print(df.groupby(by = 'company',as_index=False).describe())

         preTestScore  postTestScore
0 count      6.000000       6.000000
  mean       6.666667      57.666667
  std        8.524475      27.485754
  min        2.000000      25.000000
  25%        3.000000      34.250000
  50%        3.500000      66.000000
  75%        4.000000      70.000000
  max       24.000000      94.000000
1 count      6.000000       6.000000
  mean      15.500000      67.000000
  std       14.652645      14.057027
  min        2.000000      57.000000
  25%        2.250000      58.250000
  50%       13.500000      62.000000
  75%       29.250000      68.000000
  max       31.000000      94.000000

### Step 6. What is the mean each company's preTestScore?

In [10]:
print(df.groupby(by = 'company').preTestScore.mean())

company
1st     6.666667
2nd    15.500000
Name: preTestScore, dtype: float64

### Step 7. Present the mean preTestScores grouped by regiment and company

In [11]:
print(df.groupby(by = ['regiment','company']).preTestScore.mean())

regiment    company
Dragoons    1st         3.5
            2nd        27.5
Nighthawks  1st        14.0
            2nd        16.5
Scouts      1st         2.5
            2nd         2.5
Name: preTestScore, dtype: float64

### Step 8. Present the mean preTestScores grouped by regiment and company without heirarchical indexing

### Step 9. Group the entire dataframe by regiment and company

In [20]:
print((df.groupby(by = ['regiment','company'],as_index = False).groups))

{('Dragoons', '1st'): Int64Index([4, 5], dtype='int64'), ('Dragoons', '2nd'): Int64Index([6, 7], dtype='int64'), ('Nighthawks', '1st'): Int64Index([0, 1], dtype='int64'), ('Nighthawks', '2nd'): Int64Index([2, 3], dtype='int64'), ('Scouts', '1st'): Int64Index([8, 9], dtype='int64'), ('Scouts', '2nd'): Int64Index([10, 11], dtype='int64')}

### Step 10. What is the number of observations in each regiment and company

In [21]:
print(df.groupby( by = ['regiment','company']).count())

                    name  preTestScore  postTestScore
regiment   company
Dragoons   1st         2             2              2
           2nd         2             2              2
Nighthawks 1st         2             2              2
           2nd         2             2              2
Scouts     1st         2             2              2
           2nd         2             2              2

### Step 11. Iterate over a group and print the name and the whole data from the regiment